<h1>Star Wars Characters</h1>

<% @characters_by_film.each do |film, characters| %>
  <h2><%= film %></h2>
  <ul>
    <% characters.each do |character| %>
      <li>
        <strong>Name:</strong> <%= character.name %><br>
        <strong>Mass:</strong> <%= character.mass %>kg<br>
        <strong>Homeworld:</strong> <%= character.homeworld %>
      </li>
    <% end %>
  </ul>
<% end %>
